<header>
    <section class="logo-register">
        <nav class="logins">
            <a href="/user/login">Ingresar</a>
            <span>/</span>
            <a href="/user/register">Registrarse</a>
        </nav>
        <div class="test">
            <a href="/"><img src="/Img/Logo.jpg" width="230px"></a>
        </div>
    </section>
    <section class="burger-search">
        <a href="#">
            <i class="fas fa-bars burger"></i>
        </a>
        <form class="search-container" action="">
            <input class="searcher" type="search" placeholder="¿Qué estás buscando?">
            <button type="submit" class="glass"><span class="fas fa-search"></span></button>
        </form>
        <a href="/cart">
            <i class="fas fa-shopping-cart"></i>
        </a>
    </section>

</header>