<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta de Vinos</title>
    <link rel="stylesheet" href="css/Styles.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <header>
    <div>
        <a href="/user/login">Ingresar</a>
        <span>/</span>
        <a href="/user/register">Registrarse</a>
        <i class="fas fa-address-card" ></i>
        <img src="/img/Logo.jpg">
        <p></p>
        
        

    </div>
    </header>
    <h1>testeando</h1>
</body>
</html>