<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>On Wine</title>
    <link rel='stylesheet' href='/css/normalize.css' />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Bebas+Neue&family=Sansita+Swashed:wght@300&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/44a0ddf98c.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <section class="logo-register">
            <nav class="logins">
                <a href="/user/login">Ingresar</a>
                <span>/</span>
                <a href="/user/register">Registrarse</a>
            </nav>
            <div class="test">
            <a href="/"><img src="/Img/Logo.jpg" width="230px"></a>
            </div>
        </section>
        <section class="burger-search">
            <a href="#">
                <i class="fas fa-bars burger"></i>
            </a>
            <form class="search-container" action="">
                <input class="searcher" type="search" placeholder="¿Qué estás buscando?">
                <button type="submit" class="glass"><span class="fas fa-search"></span></button>
            </form>
            <a href="/cart">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </section>

    </header>
    <main>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, ea ad? Alias nostrum consequuntur aliquid
            ullam fugiat porro laboriosam delectus fuga accusamus voluptatem sequi, nesciunt nisi cumque commodi dolorem
            fugit.</p>
    </main>
    <footer>
        <section class="products-footer">
            <article>
                <h4>Productos</h4>
                <ul>
                    <li><a href="#">Vinos</a></li>
                    <li><a href="#">Espumantes</a></li>
                    <li><a href="#">Espirituosas</a></li>
                    <li><a href="#">Cervezas</a></li>
                    <li><a href="#">Whiskys</a></li>
                    <li><a href="#">Accesorios</a></li>
                </ul>
            </article>
        </section>
        <section class="info">
            <article>
                <h4>On Wine</h4>
                <ul>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Costos y envios</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Legales</a></li>
                </ul>
            </article>
        </section>
        <section class="payment">
            <article>
                <h4>Metodos De Pago</h4>
                <img src="/img/formas-de-pago.png" width="120px">
            </article>
        </section>
        <section class="social-media">
            <article>
                <h4>Social Media</h4>
                <ul>
                    <li class="media-list"><i class="fab fa-facebook-square"></i><a class="social"
                            href="#"></span>/OnWine</a></li>
                    <li class="media-list"><i class="fab fa-twitter-square"></i><a class="social" href="#">@OnWine</a>
                    </li>
                    <li class="media-list"><i class="fab fa-instagram-square"></i><a class="social" href="#">/OnWine</a>
                    </li>
                </ul>
            </article>
        </section>
    </footer>
</body>

</html>