<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head')%>

<body>
    
    <%- include('partials/header')%>

    <main>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, ea ad? Alias nostrum consequuntur aliquid
            ullam fugiat porro laboriosam delectus fuga accusamus voluptatem sequi, nesciunt nisi cumque commodi dolorem
            fugit.</p>
    </main>
    
    <%- include('partials/footer')%>

</body>

</html>