* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

.container {
  width: 90%;
  margin: auto;
}

.titular {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(47, 47, 49);
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: x-large;
 /* box-shadow: 0px 0px 10px rgb(100, 100, 100);*/
}

.titular i {
  font-size: 32px;
}

.productos {
  display: flex;
  flex-flow: column;
  width: 90%;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 4px;
  background-color: rgb(5, 5, 5);
  border-radius: 8px;
  padding-bottom: 16px;
  padding-top: 16px;
}
.article {
  display: flex;
  flex-flow: column;
  width: 95%;
  margin: auto;
  margin-top: 8px;
  border: 1px solid white;
  border-radius: 8px;
}
.article h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
  font-weight: 300;
}

.producto {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

.producto img {
  width: 90%;
  border-radius: 8px;
}

.descripcion {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

.descripcion p {
  color: white;
}

.row {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  justify-content: space-around;
  border: 1px solid white;
  border-bottom: 0;
}

.btns {
  display: flex;
  align-items: center;
}

.cantidad input {
  width: 40%;
  border-radius: 5px;
  border-color: rgb(204, 203, 203);
  margin: 1px;
  transition: all 350ms;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

.cantidad input:focus {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.cantidad button {
  width: 20%;
  font-size: 24px;
  font-weight: 900;
  border-radius: 50px;
  background-color: rgb(90, 47, 2);
  transition: all 350ms;
}

.cantidad button:hover {
  background-color: rgb(41, 44, 43);
  color: antiquewhite;
}

.cantidad h2 {
  margin-left: 45px;
}

.resumen {
  display: flex;
  flex-flow: column;
  width: 90%;
  background-color: black;
  margin: auto;

  margin-top: 4px;
  padding-bottom: 8px;
  border-radius: 8px;
}
.subTotal {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.subTotal button {
  width: 45%;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(61, 61, 61);
  transition: all 350ms;

  color: rgb(251, 251, 251);
  padding: 5px;
}

.subTotal button:hover {
  background-color: rgb(144, 147, 145);
  color: black;
}

.subTotal label {
  width: 25%;
  color: aliceblue;
  transition: all 350ms;

  text-align: center;
  padding: 5px;
}

.subTotal input {
  width: 25%;
  border-radius: 5px;
  border: 0;
  font-size: 20px;

  text-align: right;
  padding: 5px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.total button {
  width: 45%;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  background-color: rgb(61, 61, 61);
  transition: all 350ms;

  padding: 5px;
}

.total button:hover {
  background-color: rgb(144, 147, 145);
  color: black;
}

.total label {
  width: 25%;
  color: aliceblue;
  transition: all 350ms;

  text-align: center;
  padding: 5px;
}

.total input {
  width: 25%;
  border-radius: 5px;
  border: 0;
  font-size: 20px;

  text-align: right;
  padding: 5px;
}

.cart-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-left: 8px;
  margin-right: 8px;
}

.cart-btns button {
  width: 45%;
  border-radius: 5px;
  border: 1px solid white;

  background-color: rgb(29, 30, 30);

  color: rgb(243, 245, 243);

  transition: all 350ms;

  padding: 5px;
}

.cart-btns button:hover {
  background-color: rgb(144, 147, 145);
  color: black;
  border: 1px solid rgb(29, 30, 30);
}

.footer {
  height: 200px;
}

@media (min-width: 900px) {
  .container {
    max-width: 1000px;
  }

  .article {
    flex-flow: row;
  }

  .producto {
    width: 40%;
  }

  .row {
    width: 40%;
    align-items: center;
    border-top: 0;
  }

  .cantidad h2 {
    margin-left: 24px;
  }

  .btns {
    margin-left: 4px;
  }

  .precio {
    margin-right: 8px;
  }
}
