* {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", cursive;
    box-sizing: border-box;
}

header {
    background-color: white;
}

body {
    background-color: aqua;
    position: relative;
}

.logins {
    margin-top: 10px;
    margin-left: 10px;
    text-decoration: none;
    display: inline-flex;
    align-self: flex-start;
}

.logins a {
    text-decoration: none;
    color: #000000;
}

.logo-register img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.burger-search {
    display: flex;
    justify-content: space-between;
}

.burger {
    margin-left: 10px;
    font-size: 30px;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 5px;
}



.search-container {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
    height: 30px;
    width: 60%;
    border: solid 2px #000000;
    border-radius: 3px;
    position: relative;

}

.searcher {
    border: none;
    outline: none;
    display: flex;
    height: 26px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 3px;
    width: 90%;

}

.glass {
    background-color: #ffffff;
    border: none;
    font-size: 20px;
    padding-right: 3px;
    border-radius: 3px;
    padding-top: 3px;
    position: absolute;
    right: 0px;

}

.fa-shopping-cart {
    margin-right: 10px;
    font-size: 30px;
    color: #000000;
    margin-top: 5px;
}

footer {
    background: #f0f0f0;
    display: flex;
    justify-content: space-between;
}

.products-footer {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    display: none;
}

.products-footer ul {
    list-style: none;
    font-size: 0.8em;
}

.products-footer ul a {
    color: #000000;
    text-decoration: none;
}

.info {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
}

.info ul {
    list-style: none;
    font-size: 0.8em;
}

.info ul a {
    color: #000000;
    text-decoration: none;
}

.payment {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.social-media {
    margin-top: 10px;
    margin-right: 20px;
    font-size: 18px;
}

.social-media ul {
    list-style: none;
    font-size: 0.8em;
}

.social-media ul a {
    color: #000000;
    text-decoration: none;
}

.fa-facebook-square {
    font-size: 25px;
    margin-right: 5px;
}

.fa-twitter-square {
    font-size: 25px;
    margin-right: 5px;

}

.fa-instagram-square {
    font-size: 25px;
    margin-right: 5px;

}

.media-list {
    display: flex;
}

.social {
    display: flex;
    align-self: center;
}

@media screen and (min-width: 768px) {
    .test {
        display: inline;
    }

    .logins {
        margin-top: 20px;
        margin-left:  20px;
        font-size: 20px;
    }

    .logo-register img {
        width: 350px;
    }

    .searcher {
        width: 94%;
    }

    footer {
        justify-content:space-around;
    }
    .products-footer {
        display: block;
    }

    footer h4 {
        font-size: 18px;
    }

    footer ul li {
        font-size: 13px;
    }

    .fa-facebook-square {
        font-size: 29px;

    }

    .fa-twitter-square {
        font-size: 29px;
    }

    .fa-instagram-square {
        font-size: 29px;
    }
}

@media screen and (min-width: 1000px) {
    footer {
        justify-content: space-around;
    }
    footer h4 {
        font-size: 22px;
    }

    footer ul li {
        font-size: 16px;
    }

    .payment img {
        width: 200px;
    }

    .fa-facebook-square {
        font-size: 33px;

    }

    .fa-twitter-square {
        font-size: 33px;
    }

    .fa-instagram-square {
        font-size: 33px;
    }

}