<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta de Vinos</title>
    <link rel='stylesheet' href='../css/normalize.css' />
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Bebas+Neue&family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div>
            <a href="/user/login">Ingresar</a>
            <span>/</span>
            <a href="/user/register">Registrarse</a>
            <i class="fas fa-address-card"></i>
            <img src="/img/Logo.jpg">
            <p></p>

        </div>
    </header>
    <main>
    <div id='container'>
        <div class="titular">
            <h2 class="titulo">.Ingresa</h2>
        </div>
        <div class='login'>
           <form>
            <div class="r-name">
                <input type='text' name='name' minlength="3" maxlength="20" placeholder='User or email:' required />
             </div>
            <div class="r-password">
                <input type='password'name='password' minlength="8" maxlength="20" placeholder='password:' required />
            </div> 
            <div class="r-checkbox">
                 <label class="check"><input type="checkbox" name="recordar" value="guardar">Recordar cuenta</label>
            </div>
             <button type='submit' class="btn-login">Login</button>
             <br><br>
             <div class="r-registrar">No estas registrado? <a href='/user/register'>Registrarme</a></div>
           </form>
        </div>

    </div>
</main>
<footer>

</footer>
</body>
</html>